<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span>
                </button>
                <button md-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <div fxFlex *ngIf="dish.comments">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>Comments</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let comment of dish.comments">
                            <p matLine>{{comment.comment}}</p>
                            <p matLine>{{comment.rating}} Stars</p>
                            <p matLine>--{{comment.author}} {{comment.date | date:'mediumDate'}}</p>
                        </mat-list-item>
                        <mat-list-item *ngIf="this.commentForm.valid">
                            <p matLine>{{commentForm.value.comment}}</p>
                            <p matLine>{{commentForm.value.rating}} Stars</p>
                            <p matLine>--{{commentForm.value.author}}</p>
                        </mat-list-item>
                    </mat-list>

                    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                        <p>
                            <mat-form-field class="half-width">
                                <input matInput formControlName="author" placeholder="Author" type="text" required>
                                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-slider class="half-width" label="Rating" thumbLabel tickInterval="1" min="1" max="5"
                                step="1" value="5" formControlName="rating">
                            </mat-slider>
                        </p>
                        <p>
                            <mat-form-field class="full-width">
                                <textarea matInput formControlName="comment" placeholder="Comment" rows=12
                                    required></textarea>
                                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                            </mat-form-field>
                        </p>
                        <button type="submit" mat-button class="background-primary text-floral-white"
                            [disabled]="commentForm.invalid">Submit</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>

        <div [hidden]="dish || errMess">
            <mat-spinner></mat-spinner>
            <h4>Loading . . . Please Wait</h4>
        </div>
        <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errmess}}</h4>
        </div>
    </div>
</div>